@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f1f1;
  --primary: #a3be8c;
  --raised: 8px 8px 15px #d1d1d1, -8px -8px 15px #ffffff;
  --inset: inset 8px 8px 15px #d1d1d1, inset -8px -8px 15px #ffffff;
}

html {
  @apply h-screen w-screen;
}

body {
  @apply h-screen w-screen flex justify-center items-center;

  background: var(--background);
}

.raised-connected {
  box-shadow: var(--raised);
}
.inset-connected {
  box-shadow: var(--inset);
}

.raised-connected-active {
  background-color: var(--primary);
  box-shadow: var(--raised);
}
.inset-connected-active {
  background-color: var(--primary);
  box-shadow: var(--inset);
}
